{% extends "./baseCliente.html" %}

{% block titulo %}Sobre nós{% endblock titulo %}

{% block conteudo %}
    <h2 class="container">Sobre nós</h2>
    <div class="container bg-primary text-light pt-1 pb-1">
        <b>Nossa história:</b>
    </div>
    <div class="container mt-2 mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus tortor vel purus laoreet, eget rutrum libero sodales. Aenean varius nisl et commodo molestie. Praesent lacus dui, ornare vel dapibus vitae, sagittis eget tortor. Duis et magna mauris. Quisque rhoncus ut lectus id porttitor. Suspendisse faucibus quis purus nec vestibulum. Maecenas eu dolor vel sem rhoncus bibendum. Duis commodo, urna varius ornare scelerisque, est diam gravida purus, sit amet cursus turpis justo dignissim neque. Nunc pretium purus at iaculis imperdiet. Aliquam dictum eget ipsum vel efficitur. Curabitur viverra ex luctus tortor aliquam sollicitudin. Nam eget metus nec lectus egestas ornare sit amet et odio.
    </div>
    <div class="container bg-primary text-light pt-1 pb-1">
        <b>Missão:</b>
    </div>
    <div class="container mt-2 mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus tortor vel purus laoreet, eget rutrum libero sodales. Aenean varius nisl et commodo molestie. Praesent lacus dui, ornare vel dapibus vitae, sagittis eget tortor. Duis et magna mauris. Quisque rhoncus ut lectus id porttitor. Suspendisse faucibus quis purus nec vestibulum. Maecenas eu dolor vel sem rhoncus bibendum. Duis commodo, urna varius ornare scelerisque, est diam gravida purus, sit amet cursus turpis justo dignissim neque. Nunc pretium purus at iaculis imperdiet. Aliquam dictum eget ipsum vel efficitur. Curabitur viverra ex luctus tortor aliquam sollicitudin. Nam eget metus nec lectus egestas ornare sit amet et odio.
    </div>
    <div class="container bg-primary text-light pt-1 pb-1">
        <b>Visão:</b>
    </div>
    <div class="container mt-2 mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus tortor vel purus laoreet, eget rutrum libero sodales. Aenean varius nisl et commodo molestie. Praesent lacus dui, ornare vel dapibus vitae, sagittis eget tortor. Duis et magna mauris. Quisque rhoncus ut lectus id porttitor. Suspendisse faucibus quis purus nec vestibulum. Maecenas eu dolor vel sem rhoncus bibendum. Duis commodo, urna varius ornare scelerisque, est diam gravida purus, sit amet cursus turpis justo dignissim neque. Nunc pretium purus at iaculis imperdiet. Aliquam dictum eget ipsum vel efficitur. Curabitur viverra ex luctus tortor aliquam sollicitudin. Nam eget metus nec lectus egestas ornare sit amet et odio.
    </div>
    <div class="container bg-primary text-light pt-1 pb-1">
        <b>Valores:</b>
    </div>
    <div class="container mt-2 mb-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus tortor vel purus laoreet, eget rutrum libero sodales. Aenean varius nisl et commodo molestie. Praesent lacus dui, ornare vel dapibus vitae, sagittis eget tortor. Duis et magna mauris. Quisque rhoncus ut lectus id porttitor. Suspendisse faucibus quis purus nec vestibulum. Maecenas eu dolor vel sem rhoncus bibendum. Duis commodo, urna varius ornare scelerisque, est diam gravida purus, sit amet cursus turpis justo dignissim neque. Nunc pretium purus at iaculis imperdiet. Aliquam dictum eget ipsum vel efficitur. Curabitur viverra ex luctus tortor aliquam sollicitudin. Nam eget metus nec lectus egestas ornare sit amet et odio.
    </div>


{% endblock conteudo %}